<div class="container">
  <div class="row">
    <h1>Promedo de Asignaturas</h1>
    <div id="container">
      
      
    </div>
    <div id="editor"></div>
    <button type="button" class="btn btn-danger to-pdf" id='to-pdf'>PDF</button>
  </div>
</div>
