<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <table id="table-mat-lab" class="table table-striped table-bordered " style="width:100%">
        <thead>
          <tr>
            <th>id</th>
            <th>clave</th>
            <th>nombre_materia</th>
            <th>laboratorio_edo</th>
	    <th>creditos</th>
	    <th>semestre</th>
            <th>horas_practicas</th>
	    <th>horas_teoricas</th>
	    <th>division_materia</th>
            <th>campo</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>id</th>
            <th>clave</th>
            <th>nombre_materia</th>
            <th>laboratorio_edo</th>
	    <th>creditos</th>
	    <th>semestre</th>
            <th>horas_practicas</th>
	    <th>horas_teoricas</th>
	    <th>division_materia</th>
            <th>campo</th>
          </tr>
        </tfoot>
      </table>
      </div>
  </div>
</div>
