<div class="container">
  
  
  <div class="row">
    <div class="col-lg-10 col-sm-12">
      <table id="table-mat" class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>id</th>
            <th>clave</th>
            <th>nombre_materia</th>
            <th>laboratorio_edo</th>
            <th>horas_teoricas</th>
            <th>horas_practicas</th>
            <th>creditos</th>
            <th>semestre</th>
            <th>seriada_con</th>
            <th>division_materia</th>
            <th>campo_pertenesiente</th>

          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>id</th>
            <th>clave</th>
            <th>nombre</th>
            <th>laboratorio_edo</th>
            <th>horas_teoricas</th>
            <th>horas_practicas</th>
            <th>creditos</th>
            <th>semestre</th>
            <th>seriada_con</th>
            <th>division_materia</th>
            <th>campo_pertenesiente</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
