<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <table id="table-mat-seriadas" class="table table-striped table-bordered " style="width:100%">
        <thead>
          <tr>
            <th>id</th>
            <th>Clave</th>
            <th>Nombre de la materia</th>
            <th>Laboratorio</th>
	    <th>Horas Teóricas</th>
	    <th>Horas Prácticas</th>
            <th>Créditos</th>
	    <th>Semestre</th>
	    <th>Seriado prévio</th>
            <th>División Perteneciente</th>
	    <th>Campo Perteneciente</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
           <th>id</th>
           <th>Clave</th>
           <th>Nombre de la materia</th>
           <th>Laboratorio</th>
	   <th>Horas Teóricas</th>
	   <th>Horas Prácticas</th>
           <th>Créditos</th>
	   <th>Semestre</th>
	   <th>Seriado prévio</th>
           <th>División Perteneciente</th>
	   <th>Campo Perteneciente</th>
          </tr>
        </tfoot>
      </table>
      </div>
  </div>
</div>
